.venv

*.pyc
*.pyo
*.pyd
*.tmp
*.bak

venv/
env/
virtualenv/

.vscode/
.idea/
*.vscode/
*.idea/
*.ropeproject

*.log
*.report

*.db
*.sqlite

config.env
.env

dist/
build/
*.egg-info/
*.egg

__pycache__/
.DS_Store
Thumbs.db
